<div class="list-unstyled">
  <% favorites.each do |favorite| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(favorite.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to favorite.user.name, user_path(favorite.user) %> <span class="text-muted">
            posted at <%= favorite.created_at %>
          </span>
        </div>

        <div>
          <p><%= favorite.micropost&.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate favorites %>
</div>